#side-bar {
    width: 100%;
    min-height: 1080px;
    border-right: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px #00000040;
}

#side-bar #top-nome-evento h1{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    padding: 15px;
}

#side-bar #menu-item-log{
    margin-left: 5%;
    width: 90%;
}

#side-bar .item-menu{
    padding: 7px 24px 7px;
    border-bottom: 1px solid #E7E7E7;
}

#side-bar .item-menu a{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C;
    text-decoration: none;
}

#side-bar #item-trabalho{
    background: #FDF1EB;
    border-left: 7px solid #EE7A3A;
    box-sizing: border-box;
}

.header {
    background: #FDF1EB;
    padding-left: 25px;
}

.elementos-header {
    color: #725C5C;
}

.header .elementos-header p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0px;
}

.header .elementos-header h2{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0px;
}

.header .elementos-header #linguage-button{
    width: 100px;
    height: 34px;
    left: 789px;
    top: 17px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    background: #FDF1EB;
    border-radius: 3px;
}

.header .elementos-header #linguage-button img{
    margin-bottom: 5px;
}

.header .elementos-header #linguage-button select{
    border: 0px;
    background: #FDF1EB;
    color: #333333;
    box-sizing:content-box;
}

.header .elementos-header .login{
    text-align: right;
}



.header .elementos-header #image-login img{
    border: 1px solid #F5F5F5;
    border-radius: 100%;
}

#title-main h3 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #ED7839;

}

.elementos-topo {
    padding-top: 20px;
    padding-left: 25px;
    margin-bottom: 0px;
}

.button-top {
    background: #ED7839;
    border-radius: 4px;
    border: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 6px 12px;
    float: right;
    margin-left: 5px;
}

.elementos-topo div p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #ED7839;
    padding-top: 10px;
}

.elemento-video-caixa{
    padding-left: 25px;
    padding-bottom: 30px;
}

.detalhe-trabalho{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}

#painel-header{
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    padding: 10px 15px;
    
}

#painel-header h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #4E4E4E;
    vertical-align: middle;
    margin-bottom: 0px;
}

#painel-body .detalhe-trabalho p{
    color: #5C5C5C;
    font-style: normal;
}

#painel-body #primeiro-texto{
    font-family: 'Quicksand';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
}

#painel-body #segundo-texto{
    font-family: 'Quicksand';
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;

}

#painel-body #terceiro-texto{
    font-family: 'Quicksand';
    font-size: 12px;
    font-weight: 100;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
}



.title {
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    margin-left: 37px;
}

.title h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #4E4E4E;
    margin-bottom: 0px;
    padding: 10px 15px;
}


#text-resumo {
    margin-left: 37px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 30px;
}

#text-resumo p {
    padding: 15px 15px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
}

#text-resumo p a {
    text-decoration: none;
    color: #ED7839;
}

#painel-discussoes {
    margin-left: 37px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    padding-bottom: 15px;
}

#painel-discussoes h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #ED7839;
    text-align: center;
    padding-top: 15px
}

#painel-discussoes p {
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #595959;
    
}

#btn-criar {
    width: 133px;
    height: 32px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: -16px;
}

#linha-botão {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E7E7E7;
}

#teste2 {
    border-bottom: 1px solid #E7E7E7;
}

#teste2 p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #5C5C5C;
    padding-top: 15px;
}

#teste2 label {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ED7839;
}

#teste2 #footer-textarea {
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
}

#teste2 #enviar-duvida {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

#card-topico {
    margin-top: 32px!important;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 15px 15px 0px 15px;
    padding: 15px 25px 0px 25px;
}

#card-footer button{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    color: #757575;
}   

#title-topico h6 {
    margin-bottom: 0px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ED7839;
}

#user-topico p{
    margin-top: 3px;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
}

#body-topico p {
    margin-bottom: 3px;
    text-align: left;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
}

#resposta-topico{
    display: none;
}

#resposta-autor {
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 0px;
    margin: 0px 15px 0px 15px;
    padding: 15px 25px 35px 25px;
}

#resposta-autor #nome-autor {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
    text-align: left;
}

#resposta-autor #identifica-autor {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #ED7839;
}

#resposta-autor img {
    margin-bottom: 15px;
}

#resposta-autor #texto-autor p{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 0px;
}

#resposta-user {
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 0px;
    margin: 0px 15px 0px 15px;
    padding: 15px 25px 35px 25px;
}


#resposta-user #nome-user {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
    text-align: left;
}

#resposta-user #texto-user p{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 0px;
}

footer {
    margin-top: 50px;
}

footer img{
    width: 100%;
    margin-left: 25px;
}