#side-bar {
    width: 100%;
    min-height: 1080px;
    border-right: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px #00000040;
}

#side-bar #top-nome-evento h1{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    padding: 15px;
}

#side-bar #menu-item-log{
    margin-left: 5%;
    width: 90%;
}

#side-bar .item-menu{
    padding: 7px 24px 7px;
    border-bottom: 1px solid #E7E7E7;
}

#side-bar .item-menu a{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C;
    text-decoration: none;
}

#side-bar #item-trabalho{
    background: #FDF1EB;
    border-left: 7px solid #EE7A3A;
    box-sizing: border-box;
}

.header {
    background: #FDF1EB;
    padding-left: 25px;
}

.elementos-header {
    color: #725C5C;
}

.header .elementos-header p{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0px;
}

.header .elementos-header h2{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0px;
}

.header .elementos-header #linguage-button{
    width: 100px;
    height: 34px;
    left: 789px;
    top: 17px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    background: #FDF1EB;
    border-radius: 3px;
}

.header .elementos-header #linguage-button img{
    margin-bottom: 5px;
}

.header .elementos-header #linguage-button select{
    border: 0px;
    background: #FDF1EB;
    color: #333333;
    box-sizing:content-box;
}

.header .elementos-header .login{
    text-align: right;
}



.header .elementos-header #image-login img{
    border: 1px solid #F5F5F5;
    border-radius: 100%;
}

#title-main h3 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #ED7839;

}

.elementos-topo {
    padding-top: 20px;
    padding-left: 25px;
    margin-bottom: 0px;
}

.button-top {
    background: #ED7839;
    border-radius: 4px;
    border: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 6px 12px;
    float: right;
    margin-left: 5px;
}

.elementos-topo div p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #ED7839;
    padding-top: 10px;
}

.elemento-video-caixa{
    padding-left: 25px;
}

.caixa{
    border: 1px solid #ccc;
}
